<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de mi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de mi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    class="about-me"
    style="padding: 20px; display: flex; flex-direction: row; gap: 10px"
  >
    <img
      src="../../assets/ari_foto.jpeg"
      width="140"
      height="170"
      style="border-radius: 5px"
      alt="My Photo"
      class="profile-photo"
    />
    <div style="display: flex; flex-direction: column; gap: 8px;">
      <h2 class="name" style="margin: 0;">Ariadna Massiel Reynoso</h2>
      <h6 style="margin: 0;">20 años</h6>
      <h6 style="margin: 0;">Programadora de Apps Mobiles</h6>
      <h6 style="margin: 0;">Trabajo actual: Grupo Media Soft.</h6>

    </div>
  </div>

  <p class="bio" style="padding: 20px">
    Con una pasión incansable por la innovación tecnológica, Ariadna Reynoso se
    destaca como una programadora experta en el desarrollo de aplicaciones
    móviles. Con años de experiencia y un profundo conocimiento en tecnologías
    como Ionic y Angular, Ariadna ha liderado numerosos proyectos exitosos,
    entregando soluciones robustas y elegantes que han transformado la
    experiencia del usuario.
  </p>
</ion-content>
